@import url('./styles/variables/variables.css');
@import url('./styles/organisms/cabecalho.css');
@import url('./styles/molecules/faixa-frete.css');
@import url('./styles/organisms/categorias.css');
@import url('./styles/organisms/lista-produtos.css');
@import url('./styles/molecules/card-produto.css');
